@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Volkhov:400,700|Source+Sans+Pro:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Lustria);

/*header*/
#header-wrapper{z-index: 999; background:#131313; }
#header-details{padding: 20px 0 20px 0; }
#header-details span{color:#fff;  font-family: Lustria, serif; font-size: 28px; }
#header-details img{padding-right: 30px; float: left;}

/*navbar*/
#navbar-wrapper{position: relative; background: #d69402; font-size:15px ; font-family: 'Oswald', sans-serif; list-style: none; margin-bottom: 50px;}
#navbar-maintabs li, #navbar-subtabs li{line-height: 1; text-decoration: none; float: right; display: block; }
#navbar-maintabs li a, #navbar-subtabs li a {color:#1b1a1a;  border-bottom: 2px solid #d69402!important; }
#navbar-maintabs li a:hover, #navbar-subtabs li a:hover{color:#fff; border-bottom: 2px solid #fff !important; background: #131313;}
#navbar-subtabs li span{color:#1b1a1a;  border-bottom: 2px solid #d69402!important; }
#navbar-subtabs-logo{padding: 0 5px 0 5px;}

/*TEMPORARY-delete*/ 
#TEMPORARY {padding:40px !important; margin: 0px !important;}
#TEMPORARY span{font-size: 3vw; font-family: 'Source Sans Pro', sans-serif; color: #333; }

/*footer*/
#footer-wrapper{position:relative; background:#131313; z-index: 888; bottom:0; margin-top:50px; padding: 25px 0; }
#footer-details {text-align: left;}
#footer-details a:hover{color:#fff;}
#footer-details span{padding: 0 2px; font-size: 18px; font-family: 'Lustria', serif; color: #fff; }
#footer-details p {color: #fff; font-size: 14px; font-family: 'Lustria', serif; font-weight: bold; padding-top: 5px;}
#footer-details-logo{color: #fff; padding: 0 5px 0 5px;}
#footer-contacts label{color: #fff; padding-bottom: 5px; font-size: 16px; font-family: 'Oswald', sans-serif; font-weight: normal; }
#footer-contacts textarea{border-radius: 0; resize: none; }
#footer-contacts button{color: #fff; background:#504d4d; width:auto; border-radius: 0; padding: 10px;}
#footer-contacts button a{text-decoration: none !important; color:#e1e1e1;}
#footer-contacts button a i{font-size: 25px;}



/*------------------MEDIA QUERIES-----------------*/
@media only screen and (max-width:1200px){

}
@media only screen and (max-width:1140px){

}
@media only screen and (max-width:1024px){

}
@media only screen and (max-width:768px) {

}
@media only screen and (max-width:600px) {

}
@media only screen and (max-width:480px) {
	
}
